ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper-focused {
    border-color: #964EC2 !important;
    box-shadow: 0 0 0 2px rgba(150, 78, 194, 0.2) !important;
}

/* Ghi đè cho Password Input */
.ant-input-password .ant-input:focus,
.ant-input-password .ant-input-focused {
    border-color: #964EC2;
    box-shadow: 0 0 0 2px rgba(150, 78, 194, 0.2);
}